<div fxFlex fxLayout="column"> 

    <mat-toolbar *ngIf="showNavbar == false" color="primary">
          <a class="logo" routerLink="/home">Blog-app</a>
      <div fxFlex fxLayoutAlign="end" fxLayoutGap="25px">
          <a  class="links" routerLink="/register">Register</a>
          <a  class="links" routerLink="/login">Login</a>
      </div>
    </mat-toolbar>

  <mat-toolbar *ngIf="showNavbar == true" color="primary">
    <a class="logo" routerLink="/home">Blog-app</a>
    <div fxFlex fxLayoutAlign="end" fxLayoutGap="25px">
      <a class="links"  routerLink="/new-post">New Blog</a>
      <a class="links" (click)="getUserProfile(user?.username)" style="cursor:pointer;" >Profile</a>
      <a class="links" (click)="logOut()" style="cursor:pointer;">Logout</a>
    </div>
  </mat-toolbar>
  
</div>
